body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: black;
	color: white;
}

nav ul {
	list-style: none;
	 margin: 0;
	 padding: 0;  
}

nav li {
	display: inline-block;
	margin: 0px 15px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	margin: 50px auto;
	max-width: 800px;
	text-align: center;
}

h1 {
	font-size: 3em;
	margin-bottom: 20px;
}

p {
	font-size: 1.2em;
	line-height: 1.5;
	margin-bottom: 30px;
}

a {
	background-color: black;
	color: white;
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	transition: all 0.9s ease;
}

a:hover {
	background-color: white;
	color: black;
}

footer {
	background-color: rgb(200, 192, 192);
	color: white;
	padding: 10px;
	text-align: center;
}
.box {
	background-color: red;
	margin: 3px 0px;
}
*{
	margin: 0;padding: 0;
}